<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

  <ul>
    <% @file_names.each do |file| %>
      <li>
        <a href="<%= file %>"><%= file %> </a>
        <a href="<%= file %>/edit">Edit</a>
        <form class="inline" method="post" action="<%= file %>/delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
  <a href="new_document">New Document</a>
  <br>
  <br>

<% if session[:signed_in] == true %>  
  <form action="users/signout" method="get">
    <p class="user-status">
      Signed in as <%= session[:username] %>
      <button>Sign Out</button>
    </p>
  </form>
<% else %>
<form action="users/signin" method="get">
  <button>Sign In</button>
</form>
<% end %>