<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

  <ul>
    <% @file_names.each do |file| %>
      <li>
        <a href="<%= file %>"><%= file %> </a>
        <form class="inline" method="get" action="<%= file %>/edit">
          <button type="submit">Edit</button>
        </form>
        <form class="inline" method="post" action="<%= file %>/duplicate">
          <button type="submit">Duplicate</button>
        </form>
        <form class="inline" method="post" action="<%= file %>/delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
  <a href="new_document">New Document</a>
  <form method="get" action="/upload">
    <button type="submit">Upload Image</button>
  </form>
  <br>
  <br>

<% if session[:username] %>  
  <form action="users/signout" method="get">
    <p class="user-status">
      Signed in as <%= session[:username] %>
      <button>Sign Out</button>
    </p>
  </form>
<% else %>
<form action="users/signin" method="get">
  <button>Sign In</button>
</form>
<form action="users/register" method="get">
  <button>Register</button>
</form>
<% end %>

<% if session[:username] == "admin" %>
<form action="users/pending" method="get">
  <button>Pending Registrations</button>
</form>
<% end %>